<?xml version="1.0" encoding="UTF-8"?>
<modules>
    <module namespace="zibo" name="widget.google.search" version="0.1.0" ziboVersion="0.7.0">
        <dependency namespace="zibo" name="html" version="0.1.0" />
        <dependency namespace="zibo" name="smarty" version="2.6.26" />
        <dependency namespace="zibo" name="widget" version="0.1.0" />
    </module>
</modules>
