<?xml version="1.0" encoding="UTF-8"?>
<modules xmlns="http://www.zibo.be/ns/zibo/admin/modules"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.zibo.be/ns/zibo/admin/modules http://www.zibo.be/ns/zibo/admin/modules ">
    <module namespace="joppa" name="core" version="3.0.0-alpha" ziboVersion="0.8.0">
        <dependency namespace="zibo" name="admin" version="0.15.0" />
        <dependency namespace="zibo" name="database" version="0.7.3" />
        <dependency namespace="zibo" name="html" version="0.5.1" />
        <dependency namespace="zibo" name="i18n" version="0.4.0" />
        <dependency namespace="zibo" name="jquery" version="1.4.2" />
        <dependency namespace="zibo" name="jquery.contextmenu" version="1.1.0" />
        <dependency namespace="zibo" name="orm" version="0.8.0" />
        <dependency namespace="zibo" name="security" version="0.4.0" />
        <dependency namespace="zibo" name="smarty" version="2.6.26" />
        <dependency namespace="zibo" name="validation" version="0.5.3" />
        <dependency namespace="zibo" name="widget" version="0.2.1" />
    </module>
</modules>