<?xml version="1.0" encoding="UTF-8"?>
<container>
    <dependency interface="zibo\library\database\DatabaseManager" class="zibo\library\database\DatabaseManager">
        <call method="__construct">
            <argument type="dependency" value="zibo\core\Zibo" />
        </call>
    </dependency>
</container>