DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^public/(.*)$ application/public/$1 [L]

    RewriteCond %{REQUEST_URI} !application/public/(.*)$
    RewriteCond %{SCRIPT_FILENAME} !favicon.ico$
    RewriteRule ^(.*)$ index.php?q=$1 [NE,L,QSA]
</IfModule>
