<?xml version="1.0" encoding="UTF-8"?>
<modules xmlns="http://www.zibo.be/ns/zibo/admin/modules"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.zibo.be/ns/zibo/admin/modules http://www.zibo.be/ns/zibo/admin/modules ">
    <module namespace="zibo" name="jquery.contextmenu" version="1.1.0" ziboVersion="0.1.0">
        <dependency namespace="zibo" name="jquery" version="1.4.2" />
    </module>
</modules>