body {
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 0.80em;
}

#bodyContainer #content {
	float: left;
	width: 100%;
}

#bodyContainer #content.sidebar {
    width: 68%;
}

#bodyContainer #content.sidebarHidden {
    width: 97%;
}

#contentContainer {
	padding: 25px;
}

#contentContainer hr {
	border: 0;
	border-bottom: 1px solid #DDD;
}

a,
a:hover,
a:visited {
	color: #373c8f;
}

h2 {
    font-size: 150%;
    margin-bottom: 18px;
}

h3 {
    font-size: 130%;
    margin-bottom: 18px;
}

h4 {
    font-size: 110%;
    margin-bottom: 18px;
}

h5 {
    margin-bottom: 18px;
}

p {
    margin-bottom: 12px;
}

ul {
    margin-bottom: 18px;
    list-style: disc; 
}

ol {
    margin-bottom: 18px;
    list-style: decimal;
}

ol li,
ul li {
    margin-left: 25px;
    margin-bottom: 3px; 
}

ol li ol,
ul li ul {
    margin-top: 3px;    
    margin-bottom: 0;
}

*.center {
    text-align: center;
}

hr {
    background-color: #FAFAFA;
    border-color: #FAFAFA;
    color: #FAFAFA;
    width: 75%;
    height: 1px;
}

div.messages div {
    padding-top: 18px;
    margin-bottom: 12px;
}

div.messages div pre {
	margin-top: 12px;
	line-height: 50%;
}

div.messages div.error {
    border: 1px solid #cf2e2e;
    background-color: #F6D5CB;
    color: #cf2e2e;
}

div.messages div.information {
    border: 1px solid #6ADA1D;
    background-color: #D2F2D7;
    color: #569D23;
}

div.messages div.warning {
    border: 1px solid #F5CD18;
    background-color: #FDF3AA;
    color: #D56611;
}

div.pagination a,
div.pagination span {
    border: 1px solid #EAEAEA;
    padding: 3px;
    text-align: center;
}

div.pagination a {
    width: 25px;
    margin-right: 5px;  
}

div.pagination a.previous,
div.pagination a.next {
    width: 100px;
}

div.pagination span.previous,
div.pagination span.next {
    color: #BBB;
}

div.pagination span.page,
div.pagination span.ellipsis {
    border: 0;
    margin-left: -5px;
}

div.pagination span.page {
    font-weight: bold;
}

span.loading {    
    padding: 16px 16px 0 0;
    background-image: url(../../images/loading.gif);
    background-repeat: no-repeat;
}