<?xml version="1.0" encoding="UTF-8"?>
<modules xmlns="http://www.zibo.be/ns/zibo/admin/modules"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.zibo.be/ns/zibo/admin/modules http://www.zibo.be/ns/zibo/admin/modules ">
    <module namespace="zibo" name="notify" version="0.2.0" ziboVersion="0.7.0">
        <dependency namespace="zibo" name="admin" version="0.13.0" />
        <dependency namespace="zibo" name="image" version="0.2.0" />
        <dependency namespace="zibo" name="jquery" version="1.3.2" />
        <dependency namespace="zibo" name="smarty" version="2.6.26" />
    </module>
</modules>
